<div class="banner">
    <div class="my-container">
        <h1>Welcome to your tech career RoadMap</h1>
        <p>learning roadmap, a motivational mentorship program</p>
        <a href="#" class="button-primary">Start now</a>
    </div>
</div>
<div class="cards">
    <div class="course-card">
    </div>
</div>